NODE_ENV=development

PORT=5001

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/matrimony?schema=public

JWT_SECRET=my_super_access_secret
JWT_EXPIRES_IN=15m

JWT_REFRESH_SECRET=my_super_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=http://localhost:5173

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
PREMIUM_PLAN_AMOUNT=49900
PAYMENT_CURRENCY=INR